<div class="gsh-plus-show">
  <p class="gsh-plus-tit">选择你需要登录的用户角色</p>
  <div class="platform-plus-cont">
    <div>
      <%= image_tag 'platform-leader.png' %>
      <p class="gsh-plus-c-t">我是校长</p>
    </div>
    <div>
      <%= image_tag 'platform-teacher.png' %>
      <p class="gsh-plus-c-t">我是教师</p>
    </div>
  </div>
  <div class="platform-cont clearfix">
    <div>我是县领导</div>
    <div>我是志愿者</div>
    <div>我是工作人员</div>
    <div>我是格桑花孩子</div>
    <div>结对反馈</div>
  </div>
  <p class="gsh-plus-foot">返回个人中心</p>
</div>