<div class="person-body-right pull-right ">
  <p class="don-title border-b ">
    <span class="pull-left">创建团队</span>
    <span class="pull-right iconfont icon-arrow-right"></span>
    <span class="pull-right">返回我的团队</span>
  </p>
  <div class="gsh-plus-nmushow">
    <p class="gsh-plus-tit">选择你要创建的团队类型</p>
    <div class="gsh-plus-cont" style="padding: 40px 80px;">
      <div>

        <%= link_to '' do %>
            <%= image_tag 'ico-social.png' %>
            <p class="gsh-plus-c-t teams-icon-img">创建社会团队</p>
            <p class="gsh-plus-c-n">爱心人士均可创建</p>
        <% end %>
      </div>
      <div>
        <%= link_to '' do %>
            <%= image_tag 'ico-social-img.png' %>
            <p class="gsh-plus-c-t teams-icon-img">创建高校团队</p>
            <p class="gsh-plus-c-n">适合在校生创建</p>
        <% end %>
      </div>
    </div>
  </div>

</div>
<style>
  .teams-icon-img{
      margin-top: 8px;
  }
</style>

