<div class="person-body-right pull-right">
  <p class="don-title border-b ">
    <span class="pull-left">个人资料</span>
  </p>
  <div class="school-edit" id="teams">
    <div class="addchild-list-img">
      <%= webuploader_avatar :avatar_id, label: '上传logo', type: 'user_avatar', klass: 'single', id: 'user-avatar' %>
    </div>

    <p class="don-title">团队信息</p>
    <div class="addchild-list-cont">
      <div>
        <span class="goodtext">团队名称</span>
        <input class="goodinput " type="text" name="name"/>
      </div>
      <div>
        <span class="goodtext">详细地址</span>
        <input class="goodinput " type="text" name="name" placeholder="请输入详细地址"/>
      </div>
      <!--<div>-->
        <!--<span class="goodtext">所在地区</span>-->
        <!--<div style="margin-bottom: 20px;" class="form-group">-->
          <!--<div class="city-picker-selector city-group">-->
            <!--<%#= select_tag 'user[province]', options_for_select(ChinaCity.list, @profile.province.presence), prompt: '省份', class: "selector-item storey province city-select" %>-->
            <!--<%#= select_tag 'user[city]', options_for_select(ChinaCity.list(@profile.province.to_s), @profile.city.presence), prompt: '城市', class: "selector-item storey city city-select" %>-->
            <!--<%#= select_tag 'user[district]', options_for_select(ChinaCity.list(@profile.city.to_s), @profile.district.presence), prompt: '地区', class: "selector-item storey district city-select" %>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="teams-news" >
        <span class="goodtext">团队介绍</span>
        <div>
          <textarea maxlength="200" id="weibo"></textarea>
          <span class="teams-textare"><span id="word">0</span>/200</span>
        </div>
      </div>
    </div>
    <div class="childern-submint">
      <button>保存</button>
      <button>取消</button>
    </div>
  </div>
</div>
<script>




    $(function () {
        $("#weibo").keyup(function(){
            var len = $(this).val().length;
            if(len > 199){
                $(this).val($(this).val().substring(0,200));
            }
            var num = 200 - len;
            $("#word").text(len);

        });
        initAvatarWebuploader($('#user-avatar'));
        $(".province").select2({
            width: "170px",
            minimumResultsForSearch: -1
        });
        $(".city").select2({
            width: "170px",
            minimumResultsForSearch: -1
        });
        $(".district").select2({
            width: "200px",
            minimumResultsForSearch: -1
        });
    })
</script>