<div class="bullet">
  <span>青海格桑花教育救助会 “护花健康包” 采购公告</span>
  <span></span>
</div>
<div class="bul-swiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<div class="bul-content">
  <div class="bul-tit">
    <p>爱,是收获和喜悦</p>
    <p>LOVE IS HARVEST & JOY</p>
  </div>
  <div>
    <div class="bul-mouse">
      <div>
        <p class="mouse-1">我们可以</p>
        <p class="mouse-2">为西部孩子提供帮助</p>
      </div>
      <div>
        <p class="mouse-1">我们可以</p>
        <p class="mouse-2">为西部孩子提供帮助</p>
      </div>
      <div>
        <p class="mouse-1">我们可以</p>
        <p class="mouse-2">为西部孩子提供帮助</p>
      </div>
    </div>
    <div class="bul-mouse-show" style="visibility: hidden;">
      <div>
        <div class="mouse-show">
          <p class="mouse-show-1">关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
      <div>
        <div class="mouse-show">
          <p class="mouse-show-1">关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
      <div>
        <div class="mouse-show">
          <p class="mouse-show-1">关注西部教育，帮助西部孩子 健康成长</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bul-tit">
    <p>最美格桑花资讯</p>
    <p>GESANGHU NEWS</p>
  </div>

</div>
<div class="bul-fo">
  <div>
    <p>“让受助者、参与者在格桑花获得温暖、信任、希望、互助、友爱等美好情感，感受生命的意义与价值，共建格桑花精神家园。”</p>
    <div class="bul-but">
      <div class="pull-left">我要捐助</div>
      <div class="pull-right">志愿者申请</div>
    </div>
  </div>
</div>
<footer class="bul-footer ">
  <div class="clearfix">
    <div class="footer-left-1 pull-left">
      <p class="footer-1">联系我们</p>
      <p class="footer-2">联系电话：0971-8862113</p>
      <p class="footer-3">Email：service@gesanghua.org</p>
    </div>
    <div class="pull-left">
      <p class="footer-1">关于志愿者</p>
      <p class="footer-2">志愿者查询</p>
      <p class="footer-3">志愿者申请</p>
    </div>
  </div>

  <p>Copyright(c) 2005-2015 青海格桑花教育救助会 版权所有 All Rights Reserved 青ICP备10200056号</p>
</footer>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        slidesPerView: 'auto',
        centeredSlides: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    })
</script>