<div class="school-apply-list">

  <div class="paddchild border-l border-t border-r">
    <div class="don-title border-b  clearfix">
      <span class="pull-left">学校申请</span>
      <div class="don-title-icon pull-right">
        <%= link_to gsh_plus_root_path do %>
            <span class="pull-right iconfont icon-arrow-right"></span>
            <span class="pull-right">返回</span>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'form' %>
