<div class="school-apply-list">

  <div class="paddchild border-l border-t border-r">
    <p class="don-title border-b ">
      <span>学校申请</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to gsh_plus_root_path do %>返回<% end %></span>
    </p>
  </div>
  <%= render 'form' %>
