<div class="disclosures">
  <p class="disclosures-tit" style="margin: 0">2016年格桑花财务年报</p>

    <div class="disclosures-s">
      <p class="disclosures-n" style="text-align: center;">菠菜 |  2018年02月22日</p>
    </div>
  <div class="disclosures-show">
    在最美的四月天里，我们诚挚的发出邀请：请您和我们一起以爱的名义，用自己的脚步，来为几千里外的青海的孩子走出高原看世界筹集善款。
      此次行走的格桑花—2018年合肥第一届·官亭林海公益徒步活动由肥西县旅游协会、肥西县志愿活动中心主办，官亭林海景区管委会、青海格桑花教育救助会协办，旨在通过公益徒步筹集善款，让更多的来自青海的孩子有机会参加格桑花探索营，走出高原看世界。



      徒步总路程约十公里。届时，无论您是公益人士、徒步爱好者、还是想趁着春天举家出门踏青的，都可以和我们一起怀着爱心，行走在官亭林海景区的满园春色里。



      这次公益徒步活动，我们也邀请了有影响力的行业精英参与我们的活动代言。他们是：

      曾获奥运会银牌的跳水运动员  周吕鑫；

      中国科学院等离子体物理研究所博士生导师  张晓东；

      安徽卫视主持人  马滢和宋秋熠；

      科大讯飞党委副书记，AI教育公益计划发起人任萍萍 ；

      安徽省户外运动协会副会长  史健；

      合肥市蓝天救援队队长 苏琴

      科大讯飞党委副书记，AI教育公益计划发起人任萍萍等等。



      如果小伙伴们对体育冠军、科学家、知名主持人、业界精英的代言信息感兴趣，想要第一时间看到代言人大片，欢迎在明天下午5点准时收看“格桑花西部助学”公号推送，抓紧时间报名啦。



      这次公益徒步活动，我们也邀请了有影响力的行业精英参与我们的活动代言。他们是：体育冠军、科学家、知名主持人、业界精英等等，如果小伙伴们想要第一时间看到代言人大片，欢迎在明天准时收看“格桑花西部助学”公号推送的报道，抓紧时间报名啦。



      在这里，小编偷偷给大家剧透一下：据格桑花路边社的可靠消息，在4月14日当天，徒步现场还有40余位参加合肥探索营的青海藏族娃娃们载歌载舞的表演哦。
  </div>
</div>