~$*
*.swp
*.pid
.svn
.bundle
.cache
db/*.sqlite3
db/sphinx
config/database.yml
config/backup.rb
config/bluepill.rb
log/*
export/
nbproject/
public/system
public/uploads
public/images
public/tmp
public/files
public/sitemap*
public/images/gift_cards
solr/data
solr/pids
tmp/**/*
tmp/restart.txt
*.bak
.tags*
db/*.sqlite3*
coverage

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
# Ignore Spring files.
/spring/*.pid
.byebug_history
.idea/*
