<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改申请</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <%= link_to admin_movie_care_schools_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="fa fa-reply"></i> <span>返回</span>
      <% end %>
    </div>
  </div>
  <div class="portlet-body form">
    <%= render 'form' %>
  </div>
</div>
