<div class="person-body-left pull-left">
  <ul>
    <%= link_to account_orders_path do %>
    <li class="selectedli cur">
      <span class="iconfont icon-ico-project"></span>
      <span>我的捐助</span>
    </li>
    <% end %>
    <%= link_to account_teams_path do %>
    <li class="cur">
      <span class="iconfont icon-ico-team"></span>
      <span>我的团队</span>
    </li>
    <% end %>
    <!--<li class="cur">-->
    <!--<span class="iconfont icon-ico-month"></span>-->
      <!--<span>我的月捐</span>-->
    <!--</li>-->
    <li class="cur">
      <span class="iconfont icon-ico-campaign"></span>
      <span>我的活动</span>
    </li>
    <%= link_to account_offline_users_path do %>
    <li class="cur">
      <span class="iconfont icon-ico-replace"></span>
      <span>捐助管理</span>
    </li>
    <% end %>
    <li class="cur">
      <span class="iconfont icon-ioc-platform"></span>
      <span>协作平台</span>
    </li>
    <li class="cur">
      <span class="iconfont icon-ico-gsh"></span>
      <span>格桑花+</span>
    </li>
    <%= link_to account_level_path do %>
    <li class="cur">
      <span class="iconfont icon-ico-badge"></span>
      <span>我的勋章</span>
    </li>
    <% end %>
  </ul>
  <div class="leftLine"></div>
  <div  class="border-t" >
    <span class="iconfont icon-ico-add"></span>
    <span>退出登录</span>
  </div>
</div>

<script type="text/javascript">
//      左tab切换
// $(".person-body-left ul li").on("click", function () {
//     $(".person-body-left ul li").removeClass("selectedli")
//     $(this).addClass("selectedli")
//     $(".leftLine").css("top", parseFloat($(this)[0].offsetTop) + "px")
//     $.each($('.person-body-left ul li'), function (i, j) {
//         $('.person-body-right > div').eq(i).css('display', 'none')
//     });
//     $('.person-body-right > div').eq($(this).index()).css('display', 'block')
// })
</script>
