<div class="person-head">
  <%= image_tag 'ucenter-top-bg.png' %>
  <div class="person-h-img"> <%= image_tag 'ucenter-picture.png' %></div>
  <div class="person-h-right">
    <span class="iconfont icon-ico-wechat1"></span>
    <span>账户管理</span>
  </div>
  <div class="person-h-cont">
    <p>Peekid</p>
    <div class="person-h-cont-d">
      <div>
        <p><span>5678.21</span>元</p>
        <p>累计捐助</p>
      </div>
      <div class="border-l border-r">
        <p><span>5678.21</span>元</p>
        <p>累计捐助</p>
      </div>
      <div>
        <p><span>5678.21</span>元</p>
        <p>累计捐助</p>
      </div>
    </div>
  </div>
</div>
