<div class="person-head">
  <%= image_tag 'cooperate-visite-form.png' %>
  <div class="person-h-img"> <%= image_tag 'ucenter-picture.png' %></div>
  <div class="person-h-right">
    <span class="iconfont icon-ico-wechat1"></span>
    <span>编辑个人资料</span>
  </div>
  <div class="person-h-cont">
    <p>Somnambulist</p>
    <div class="person-h-cont-d">
      <p class="person-h-cont-d-pairs">大西庄小学 | <span class="iconfont icon-ico-role- "></span>校长</p>
    </div>
  </div>
</div>
