<footer class="bul-footer ">
  <div class="clearfix">
    <div class="pull-left foot-img">
      <%= image_tag 'gsh-logo-foot.png' %>
    </div>
    <div class="footwidth footer-left-1 pull-left">
      <p class="footer-1 cur">联系我们</p>
      <p class="footer-2">联系电话：0971-8862113</p>
      <p class="footer-3">Email：service@gesanghua.org</p>
    </div>

    <div class="footwidth pull-left">
      <p class="footer-1 cur">关于志愿者</p>
      <p class="footer-2 cur">志愿者查询</p>
      <p class="footer-3 cur">志愿者申请</p>
    </div>
    <div class="pull-right" style="position: relative;">
      <p class="right-foot-3">关注格桑花西部助学</p>
      <div class="right-foot-1 cur"><span class="iconfont icon-wechat"></span>关注微信</div>
      <div class="right-foot-2 cur"><span class="iconfont icon-weibo"></span>关注微博</div>
      <div class="bul-pos1">
        <div id="container2">
          <canvas></canvas>
        </div>
      </div>
      <div class="bul-pos2">
        <div id="container3">
          <canvas></canvas>
        </div>
      </div>
    </div>
  </div>

  <p>Copyright(c) 2005-2015 青海格桑花教育救助会 版权所有 All Rights Reserved 青ICP备10200056号</p>

</footer>
<div class="bul-top-2 cur"><span class="iconfont icon-qrcode"></span></div>
<div class="bul-pos4">
  <div id="container4" class="pull-left">
    <canvas></canvas>
  </div>
  <div class="bul-pos4-cont pull-right">
    <p>格桑花西部助学</p>
    <p>帮助孩子健康成长</p>
  </div>
</div>

