<div id="donatesn">
  <div class="donates-img">
    <%= image_tag 'top-bg.png' %>
    <div class="donates-img-cont">
      <p>支付失败</p>
      <p>每一笔善款去向可查，明明白白</p>
    </div>
  </div>
  <div class="donates-contents ">
    <div class="donates-con-tits clearfix">
      <%= image_tag 'icon-wrong.png' %>
      <p>您没有支付成功</p>
    </div>
    <div class="donates-con-c border-t">
      <p>请选择其他项目继续捐助。</p>
    </div>

  </div>
  <div class="donates-contents-but clearfix">
    <button class="class-button pull-right"><%= link_to '继续捐助', root_url, style: 'color: #fff'%></button>
  </div>

</div>
<script>

</script>
