<div id="donatesn">
  <div class="donates-img">
    <%= image_tag 'top-bg.png' %>
    <div class="donates-img-cont">
      <p>捐助失败</p>
      <p>每一笔善款去向可查，明明白白</p>
    </div>
  </div>
  <div class="donates-contents ">
    <div class="donates-con-tits clearfix">
      <%= image_tag 'icon-wrong.png' %>
      <p>您没有捐助成功</p>
    </div>
    <div class="donates-con-c border-t">
      <p>请选择其他项目继续捐助。</p>
      <div>
        <p>可能的原因：</p>
        <p>支付过程中遇到问题，如已经支付成功，请稍后在个人中心查看订单状态。</p>
        <p>该项目已被捐助完成，捐助的款项会退回账户余额，请在个人中心查看。</p>
      </div>
    </div>

  </div>
  <div class="donates-contents-but clearfix">
    <button class="class-button pull-right"><%= link_to '继续捐助', root_url, style: 'color: #fff'%></button>
  </div>

</div>
<script>

</script>
