<div class="person-body-right pull-right" id="reads-new">
  <div class="paddchild marginbottom">
    <div class="don-title clearfix">
      <span class="pull-left">护花课程申请</span>
      <div class="don-title-icon pull-right">
        <%= link_to platform_school_apply_movie_cares_path do %>
            <span class="pull-right iconfont icon-arrow-right"></span>
            <span class="pull-right">返回</span>
        <% end %>
      </div>

    </div>
  </div>
  <%= render 'form' %>
</div>
