<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">新增筹款</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= render '/admin/shared/platform_donate_form',
    url: admin_radio_project_radio_donate_records_path(@apply),
    back_url: admin_radio_project_radio_donate_records_path(@apply) %>
  </div>
</div>
