<div class="person-body-right pull-right" style="margin: 40px 0 80px 0;">
  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">社交账号</span>
    </p>
    <div class="social">
      <div  class="clearfix">
        <div  class="pull-left">
          <%= image_tag 'uc-user-wx.png' %>
        </div>
        <span  class="pull-left">微信</span>
        <span  class="pull-left">已绑定</span>
        <div class="unbind cur pull-left">
          <% if current_user.bind_wechat? %>
          <button><%= link_to '解绑' %></button>
          <% end %>
        </div>
        <!--<div class="bind  ing cur"><button>绑定</button></div>-->
      </div>
      <% if false %>
      <div class="clearfix">
        <div class="pull-left">
          <%= image_tag 'uc-user-gsh.png' %>
        </div>
        <span class="pull-left">格桑花论坛</span>
        <span class="pull-left">未绑定</span>
        <!--<div class="unbind cur"><button>解绑</button></div>-->
        <div class="binding cur pull-left">
          <button>绑定</button>
        </div>
      </div>
      <% end %>
    </div>

  </div>
  <div class="overspread-3">
    <div class="overspread-over"></div>
    <div class="overspread-cont">
      <div class="clearfix">
        <div class="pull-left mys-1"></div>
        <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
      </div>
      <div class="overspread-co">
        <p class="over-fontns">确定要解除绑定吗？</p>
      </div>
      <div class="overspreads-but">
        <button class="cur">确定</button>
        <button class="overspread-but cur">取消</button>
      </div>
      <!--<div class="overspread-but  over-but">确认</div>-->
    </div>

  </div>


</div>
<script>
    $('.overspread-3').overs(".unbind");
</script>
