<div class="person-body-right pull-right" style="margin-top: 40px;">

  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">社交账号</span>
    </p>
    <div class="social">
      <div>
        <div>
          <%= image_tag 'wechart-pay-qrcode.png' %>
        </div>
        <span>微信</span>
        <span>已绑定</span>
        <div class="unbind">
          <button>解绑</button>
        </div>
        <!--<div class="binding"><button>绑定</button></div>-->
      </div>
      <div>
        <div>
          <%= image_tag 'wechart-pay-qrcode.png' %>
        </div>
        <span>格桑花论坛</span>
        <span>未绑定</span>
        <!--<div class="unbind"><button>解绑</button></div>-->
        <div class="binding">
          <button>绑定</button>
        </div>
      </div>
    </div>

  </div>


</div>



