<div id="member-list">
  <% @visit.members.each do |member| %>
     <%= render '/platform/school/apply/family_members/item', member: member %>
  <% end %>
</div>
<button type="button" class="school-apply-share-sub addnewclass">
  <%= link_to new_platform_school_apply_family_member_path(pair_id: @apply.id, child_id: @child.id), remote: true do %>
    <span class="iconfont icon-ico-add1"></span>
    <span>新增成员</span>
  <% end  %>
</button>