<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-list"></i> 孩子年级批量管理
    </div>
    <div class="actions">

    </div>
  </div>
  <div class="portlet-body">
    <div class="form-body form-inline">
      <div class="form-body">
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-sm-9">
              <%= link_to grade_add_one_admin_pair_student_list_path(1), method: :post, class: 'btn btn-lg green' do %>
                  <i class="fa fa-plus"></i>
                  年级批量加一
              <% end %>
              <p class="help-block">所有可续捐的非三年级学生年级加一</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-sm-9">
              <%= link_to grade_minus_one_admin_pair_student_list_path(1), method: :post, class: 'btn btn-lg green' do %>
                  <i class="fa fa-minus"></i>
                  年级批量减一
              <% end %>
              <p class="help-block">所有可续捐的非一年级学生年级减一</p>
            </div>
        </div>
    </div>
  </div>
</div>
