<% content_for :styles do %>
  <%= stylesheet_link_tag "controllers/orders/index" %>
<% end %>

<div class="person-body-right pull-right" id="teachers">
  <div class="children-body">
    <div class="paddchild">
      <p class="don-title border-b ">
        <span class="pull-left">教师管理</span>
        <%= link_to new_platform_school_teacher_path, class: 'pull-right school-apply-share-sub', style:"color: white;", 'data-no-turbolink' => true do %>
          <span class="iconfont icon-ico-add1"></span>
          <span>新增老师</span>
        <% end %>
      </p>
    </div>
    <div class="school-apply-pair-table-co">
      <div class="paddchild">
        <div class="school-apply-pair-table">
          <p>老师信息</p>
          <p>负责项目</p>
          <p>操作</p>
        </div>
      </div>

      <div class="paddchild" id="data_list">
        <%= render partial: "list" %>
      </div>

    </div>

    <div class="donation-cont-no">
      <div class="donation-co-no-c">
        <p>您的学校还没有添加老师信息</p>
      </div>
    </div>
  </div>
</div>
<script>
  if ($('#teachers .school-apply-pair-tables').length === 0) {
    $('.donation-cont-no').css('display', 'block')
    $('.school-apply-pair-table-co').css('display', 'none')
    $('.project-foot').css('display', 'none')
  } else {
    $('.donation-cont-no').css('display', 'none')
    $('.school-apply-pair-table-co').css('display', 'block')
    $('.project-foot').css('display', 'block')

  }
</script>



