<div class="person-body-right pull-right" id="addchildrenlist">
  <div class="paddchild marginbottom">
    <p class="don-title">
      <span class="pull-left">新增教师</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right">返回</span>
    </p>
  </div>
  <div class="addchild-list marginbottom" style="padding: 10px 34px 20px 34px;">
    <div class="addchild-list-img">
      <%= image_tag 'gsh-img-right.png' %>
      <div></div>
      <span>上传正面照</span>
    </div>
    <p class="don-title">基本信息</p>
    <div class="addchild-list-cont">
      <div>
        <span class="goodtext">真实姓名</span>
        <input class="goodinput " type="text"/>
      </div>
      <div>
        <span class="goodtext">身份证号</span>
        <input class="goodinput " type="text"/>
      </div>
      <div style="position: relative;">
        <span class="goodtext">民族</span>
        <div class="drop" id="doodname"></div>
        <span class="iconfont icon-arrowdown pull-right posarrowdown"></span>
      </div>
      <div>
        <span class="goodtext">QQ号</span>
        <input class="goodinput " type="text"/>
      </div>
      <div>
        <span class="goodtext">微信号</span>
        <input class="goodinput " type="text"/>
      </div>
      <div>
        <span class="goodtext">联系方式</span>
        <input class="goodinput " type="text" placeholder="填写班主任联系方式"/>
      </div>
      <div style="position: relative;">
        <span class="goodtext">联系方式</span>
        <div class="drop" id="drop"></div>
        <span class="iconfont icon-arrowdown pull-right posarrowdown"></span>
        <span class="posarrmarl">*项目权限可多选*</span>
      </div>


    </div>
  </div>

  <div class="childern-submint">
    <button>保存</button>
    <button>取消</button>
  </div>

</div>
<script>
    $('#doodname').dropDwon({
        id: 'doodname',
        type:'sigle',
        myData: {
            name1: {
                val: '111',
                selected: true,
            },
            name2: {
                val: '222',
            },
            name3: {
                val: '333'
            }
        }
    })
    $('#drop').dropDwon({
        id: 'drop',
        myData: {
            name1: {
                val: '111',
                selected: true,
            },
            name2: {
                val: '222',
            },
            name3: {
                val: '333'
            }
        }
    })


</script>


