<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">捐助操作</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= render '/admin/shared/platform_donate_form',
    url: match_donate_admin_pair_student_list_student_grants_path(@child_apply),
    back_url: admin_pair_student_list_student_grants_path(@child_apply) %>
  </div>
</div>
