<h1>Editing Admin Service History</h1>

<%= render 'form', admin_service_history: @admin_service_history %>

<%= link_to 'Show', @admin_service_history %> |
<%= link_to 'Back', admin_service_histories_path %>
