<div class="person-body-right pull-right" id="reads-new">
  <div class="paddchild marginbottom">
    <p class="don-title">
      <span class="pull-left">新图书角申请</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to '返回', platform_school_apply_reads_path %></span>
    </p>
  </div>
  <%= render 'form' %>
</div>
