<div class="person-body-right pull-right" id="reads-new">
  <div class="paddchild marginbottom">
    <p class="don-title">
      <span class="pull-left">图书角补书申请</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right">返回</span>
    </p>
  </div>
  <div class="addchild-list marginbottom">
    <p class="don-title">申请信息</p>
    <div class="addchild-list-cont">
      <div>
        <span class="goodtext">申请学校</span>
        <div>
          <button type="button" class="scool-edit-name" disabled>涿鹿县北晨中学</button>
        </div>

      </div>
      <div>
        <span class="goodtext">申请年度</span>
        <div>
          <button type="button" class="scool-edit-name" disabled>2018年度</button>
        </div>

      </div>
    </div>
  </div>


  <div class="addchild-list addchild-list-up marginbottom">
    <p class="don-title">补书申请班级管理</p>
    <div class="reads-new-cont">
      <div class="clearfix">
        <p >一年级一班</p>
        <p >损耗：<span>10本</span>   补书：<span>20本</span>    </p>
        <div class="clearfix don-con-pos">
          <div class="pull-right cur delete-offline-user">
            <span class="iconfont icon-ico-delete1"></span>
            <span>删除</span>
          </div>
          <div class="pull-right cur edit-offline-user">
            <span class="iconfont icon-ico-edit "></span>
            <span>编辑</span>
          </div>

        </div>
      </div>
      <button class="school-apply-share-sub addnewclass">
        <span class="iconfont icon-ico-add1"></span>
        <span>新增补书班级</span>
      </button>
    </div>
    <div class="addchild-list-cont ">
      <div>
        <span class="goodtext">申请理由</span>
        <textarea ></textarea>
      </div>
      <div>
        <span class="goodtext">上传图片</span>
        <div  >
          <div class="addchild-list-up-picture pull-left">
            <p class="iconfont icon-ico-add"></p>
            <p>上传反馈图片</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="addchild-list addnewreads ">
    <p class="don-title">收货地址</p>
    <div class="addchild-list-cont">
      <div>
        <span class="goodtext">收货人</span>
        <input  class="goodinput " type="text" name="project_season_apply_child[father]" placeholder="请填写收货人姓名" />
      </div>
      <div>
        <span class="goodtext">所在地区</span>
        <div class="city-picker-selector" id="city-picker-selector"></div>
      </div>
      <div>
        <span class="goodtext">联系电话</span>
        <input  class="goodinput " type="text" name="project_season_apply_child[father_job]"  />
      </div>
      <div>
        <span class="goodtext">详细地址</span>
        <input  class="goodinput " type="text" name="project_season_apply_child[mother]" placeholder="请输入详细地址" />
      </div>

    </div>
  </div>
  <div class="childern-submint">
    <button type="submit">保存</button>
    <button >取消</button>
    <%#= link_to '取消', child_list_platform_school_apply_pair_children_path(@apply) %>
  </div>
  <div class="overspread-5 overspread-e">
    <div class="overspread-over"></div>
    <div class="overspread-cont">
      <div class="clearfix">
        <div class="pull-left mys-1">编辑补书申请班级</div>
        <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
      </div>
      <div class="overspread-constend" >
        <div class="supplements">
          <p class="goodtext">选择班级</p>
          <select id="campstype" name="q[execute_state]">
            <option value="">活动状态</option>
            <option value="draft">活动未开始</option>
            <option value="submit">活动报名中</option>
            <option value="to_do">报名已结束</option>
            <option value="doing">活动进行中</option>
            <option value="done">活动已完成</option>
          </select>
        </div>
        <div class="overspread-const">
          <div class=" overclass">
            <p class="goodtext">损耗数量</p>
            <input type="text" />
            <span>本</span>
          </div>
          <div class=" overclass">
            <p class="goodtext">补充数量</p>
            <input type="text" />
            <span>本</span>
          </div>
        </div>

      </div>
      <div class="overspreadsc-but overspread-but  over-but">添加</div>

    </div>
  </div>
  <div class="overspread-5 overspread-n">
    <div class="overspread-over"></div>
    <div class="overspread-cont">
      <div class="clearfix">
        <div class="pull-left mys-1">新增补书申请班级</div>
        <div class="pull-right iconfont icon-icondelete cur overspread-but"></div>
      </div>
      <div class="overspread-constend" >
        <div class="supplements">
          <p class="goodtext">选择班级</p>
          <select id="campstyp" name="q[execute_state]">
            <option value="">活动状态</option>
            <option value="draft">活动未开始</option>
            <option value="submit">活动报名中</option>
            <option value="to_do">报名已结束</option>
            <option value="doing">活动进行中</option>
            <option value="done">活动已完成</option>
          </select>
        </div>
        <div class="overspread-const">
          <div class=" overclass">
            <p class="goodtext">损耗数量</p>
            <input type="text" />
            <span>本</span>
          </div>
          <div class=" overclass">
            <p class="goodtext">补充数量</p>
            <input type="text" />
            <span>本</span>
          </div>
        </div>

      </div>
      <div class="overspreadsc-but overspread-but  over-but">添加</div>

    </div>
  </div>
</div>



<script>
    // 模拟城市-无联动/无搜索
    var selector1 = $('#city-picker-selector').cityPicker({
        dataJson: cityData,
        renderMode: true,
        search: false,
        autoSelected: false,
        code: 'cityCode',
        level: 3
    });
    $("#campstype").select({
        width: "100%"
    });
    $("#campstyp").select({
        width: "100%"
    });
    $('.modified-1').calculate()
    $('.modified-2').calculate()
    $('.overspread-e').overs(".edit-offline-user");
    $('.overspread-n').overs(".addnewclass");
</script>