<div class="person-body-right pull-right" id="feedback-shows">

  <div class="children_mailboxs-cont">
    <p class="don-title border-b ">
      <span class="pull-left">查看班级</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to '返回', platform_school_apply_reads_path %></span>
    </p>
    <div class="plat-school-apply-pair bookshelves-cont">
      <div class="paddchild ">
        <div class="school-apply-pair-table ">
          <p class="border-t border-l border-r">班级信息</p>

        </div>
      </div>
      <div class="bookshelves ">
        <% @supplements.each do |supplement| %>
        <div class="clearfix" style="height: 78px;">
          <p><%= supplement.bookshelf.classname %></p>
          <p>损耗：<span><%= supplement.loss %>本</span> 补书：<span><%= supplement.supply %>本</span></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
    $('.plat-school-apply-pair').eq(0).removeClass('border-t')
</script>
