<div class="person-body-right pull-right" id="addchildrenlist">
  <div class="paddchild marginbottom">
    <p class="don-title">
      <span class="pull-left">新增学生名单</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to '返回', child_list_platform_school_apply_pair_children_path(@apply) %></span>
    </p>
  </div>
  <%= render 'form' %>

</div>
