<div class="person-body-right pull-right" id="addchildrenlist">
  <div class="paddchild marginbottom">
    <div class="don-title clearfix">
      <span class="pull-left">新增学生名单</span>

      <div class="don-title-icon pull-right">
        <%= link_to child_list_platform_school_apply_pair_children_path(@apply) do %>
            <span class="pull-right iconfont icon-arrow-right"></span>
            <span class="pull-right">返回</span>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'form' %>

</div>
