
<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">申请详情</span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_school_school_project_applies_path(@school) %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr>
          <td width="72px">
            项目名称
          </td>
          <td>
            <%= @project.name %>
          </td>
        </tr>
        <tr>
          <td>
            项目类型
          </td>
          <td>
            <%= @project.kind %>
          </td>
        </tr>
        <tr>
          <td>
            项目简介
          </td>
          <td>
            <%= @project.describe %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
