<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改探索营配额</span>
      <span class="caption-helper"></span>
    </div>
  </div>
  <div class="portlet-body form">
    <%= render 'form' %>
  </div>
</div>
