<div class="person-body-right pull-right" style="margin-top: 40px;">

  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">账号信息</span>
    </p>
    <div class="accounts-cont clearfix">
      <div>
        <%= simple_form_for current_user, url: update_password_account_user_center_account_path, method: :post, html: {class: ''} do |f| %>
        <div class="clearfix accounts-co">
          <span class="goodtext pull-left">登录密码</span>
          <p class="pull-left">密码要求至少包含字母，符号或数字中的两项且长度超过6位， 建议您经常修改密码，以保证帐号更加安全。</p>
          <button class="accounts-butn pull-right">保存</button>
        </div>
        <div class=" accounts-cont-input">
          <% if current_user.password_digest.present? %>
          <input class="goodinput " type="text" name="old_password" placeholder="输入原密码"  style="width: 100%;" required/>
          <% end %>
          <div class="clearfix">
            <input class="goodinput " type="text" name="new_password" placeholder="输入新密码" style="width: 100%;" required minlength="6"/>
          </div>
          <div class="clearfix">
            <input class="goodinput pull-left " type="text" name="confirm_password" placeholder="确认新密码" style="width: 100%;" required minlength="6">
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>


</div>
