<div class="person-body-right pull-right" style="margin-top: 40px;">

  <div style="display: block;">
    <p class="don-title border-b ">
      <span class="pull-left">账号信息</span>
    </p>
    <div class="accounts-cont clearfix">
      <div>
        <div class="clearfix accounts-co">
          <span class="goodtext pull-left">手机账号</span>
          <% unless current_user.phone.present? %>
              <p class="pull-left">未绑定手机，绑定后可使用该手机直接登录</p>
              <%= link_to '修改', edit_phone_account_user_center_account_path, class: 'accounts-but pull-right cur' %>
          <% else %>
              <p class="pull-left">已绑定手机：<%= current_user.phone %></p>
              <%= link_to '修改', change_phone_account_user_center_account_path, class: 'accounts-but pull-right cur' %>
          <% end %>

        </div>
      </div>
      <div>
        <div class="clearfix accounts-co">
          <span class="goodtext pull-left">登录密码</span>
          <p class="pull-left">密码要求至少包含字母，符号或数字中的两项且长度超过6位， 建议您经常修改密码，以保证帐号更加安全。</p>
          <%= link_to '修改', edit_password_account_user_center_account_path, class: 'accounts-but pull-right cur' %>
        </div>
      </div>
      <!--<div>-->
      <!--<div class="clearfix accounts-co">-->
      <!--<span class="goodtext pull-left">邮箱账号</span>-->
      <!--<p class="pull-left">海外可以使用邮箱 c***o@live.cn 马上登录</p>-->
      <!--<div class="accounts-but pull-right">修改</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>

  </div>


</div>



