<div class="person-body-right pull-right" id="feedbacks">

  <div class="children-body">
    <div class="paddchild">
      <p class="don-title border-b ">
        <span class="pull-left">定期反馈</span>
        <%#= link_to new_platform_school_feedback_path do %>
          <!-- <button class="pull-right school-apply-share-sub">
            <span class="iconfont icon-ico-add1"></span>
            <span>新增反馈</span>
          </button> -->
        <%# end %>
      </p>
    </div>
    <div id="data_list">
      <%= render partial: "list" %>
    </div>
  </div>
</div>

<script type="text/javascript">
    if($('.school-feedback .donation-cont').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }
</script>
