<div class="person-body-right pull-right" id="children">

  <div class="children-body">
    <div class="paddchild">
      <p class="don-title border-b ">
        <span class="pull-left">新增反馈</span>
        <span class="pull-right iconfont icon-arrow-right"></span>
        <span class="pull-right">返回</span>
      </p>
    </div>
    <div class="school-apply-feedback-cont">
      <div class="addchild-list-cont ">
        <div style="height: 172px;width: 777px;">
          <span class="goodtext">反馈内容</span>
          <textarea placeholder="内容会推送给捐助者，请认真填写~"></textarea>
        </div>
        <div style="height: 178px;width: 100%; margin-bottom: 0;" class="border-b">
          <span class="goodtext">上传图片</span>
          <div  style="height: 156px;">
            <div class="addchild-list-up-picture pull-left">
              <p class="iconfont icon-ico-add"></p>
              <p>上传反馈图片</p>
            </div>
          </div>
        </div>
      </div>
      <div class="class-button">提交反馈</div>
    </div>


  </div>
</div>

