<div class="person-body-right pull-right" id="children" style="position: relative;">

  <div class="children-body">
    <div class="paddchild">

      <div class="don-title border-b  clearfix">
        <span class="pull-left">新增反馈</span>
        <div class="don-title-icon pull-right">
          <%= link_to platform_school_feedbacks_path do %>
              <span class="pull-right iconfont icon-arrow-right"></span>
              <span class="pull-right">返回</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="school-apply-feedback-cont">
      <%= simple_form_for [:platform, @continual], url: platform_school_feedbacks_path(@continual), html: {'data-parsley-validate': true, class: 'user_form'} do |f| %>
          <div class="addchild-list-cont ">
            <div style="height: 172px;width: 777px;">
              <span class="goodtext">反馈内容</span>
              <textarea placeholder="内容会推送给捐助者，请认真填写~" name="continual[content]" required><%= @continual.content %></textarea>
            </div>
            <div style="height: 100%;width: 100%; margin-bottom: 0;" class="border-b">
              <span class="goodtext">上传图片</span>
              <div style="height: 100%;margin-bottom: 20px;">
                  <p></p>
                  <%= webuploader_images 'image_ids[]', label: '上传反馈图片', type: 'feedback_image', asset: @continual.images %>
              </div>
            </div>
          </div>
      <% end %>



      <div style="text-align:center;">
        <button class="class-button" type="submit">提交反馈</button>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>

<script>
    $(function () {
        initMultiImageWebuploader($('#webuploader'));
    })
</script>
