<div class="person-body-right pull-right" id="feedback-shows">

  <div class="children_mailboxs-cont">
    <p class="don-title border-b ">
      <span class="pull-left">查看班级</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right">返回</span>
    </p>
    <div class="plat-school-apply-pair bookshelves-cont">
      <div class="paddchild ">
        <div class="school-apply-pair-table ">
          <p class="border-t border-l border-r">班级信息</p>
        </div>
      </div>
      <div class="bookshelves ">
        <div class="clearfix" >
          <span>一年级一班</span>
          <span>30人</span>
        </div>

        <div class="clearfix" >
          <span>一年级一班</span>
          <span>30人</span>
      </div>

        <div class="clearfix" >
          <span>一年级一班</span>
          <span>30人</span>
        </div>

        <div class="clearfix" >
          <span>一年级一班</span>
          <span>30人</span>
        </div>

        <div class="clearfix" >
          <span>一年级一班</span>
          <span>30人</span>
        </div>
      </div>


    </div>

  </div>

</div>
<script>
    // //图片展示
    $('[data-magnify]').magnify({
        headToolbar: [
            'close'
        ],
        initMaximized: true
    });
    $('.plat-school-apply-pair').eq(0).removeClass('border-t')
</script>
