<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">修改活动</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <%= link_to admin_campaign_path(@campaign), class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="fa fa-eye"></i>
        <span>预览</span>
      <% end %>
      <%= link_to admin_campaigns_path, class: 'btn btn-xs blue', 'data-no-turbolink' => true do %>
        <i class="fa fa-reply"></i>
        <span>返回列表</span>
      <% end %>
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= render 'form' %>
  </div>
</div>
