<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-sliders font-dark"></i>
      <span class="caption-subject font-dark bold uppercase">分享</span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <a href="<%= admin_campaigns_path %>" class="btn btn-xs blue">
          <i class="fa fa-reply"></i>返回
        </a>
      </div>
    </div>
  </div>


  <div class="portlet light bordered" id="basic-info">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-share font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo bold uppercase">分享链接</span>
      </div>
      <div class="actions">
      </div>
    </div>
    <div class="portlet-body">
      <div class="portlet-body form" id="special-form">
        <div class="form-group">
          <div class="input-group">
            <input id="share_url" class="form-control" style="max-width: 100%;" value="<%= @campaign.share_path %>">
            <span class="input-group-addon" onclick="copyShareUrl()" style="cursor: pointer">
              <i class="fa fa-cut"></i> 点击复制链接
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-share font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo bold uppercase">二维码</span>
      </div>
      <div class="actions">
        <%= link_to qrcode_download_admin_pair_student_list_path, class: 'btn btn-default' do %>
          <i class="fa fa-download"></i> 点击下载二维码
        <% end %>
      </div>
    </div>
    <div class="portlet-body">
      <div class="portlet-body form" id="special-form">
        <div class="form-group">
          <div id="qrcode">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function copyShareUrl() {
        var url = document.getElementById("share_url");
        url.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        toastr.info('复制成功。', '' ,{"positionClass": "toast-top-center"})
    }
    $(function () {
        $('#qrcode').qrcode({text: "<%= @campaign.share_url %>"});
    })
</script>