<div class="disclosures">
  <p class="disclosures-tit" style="margin: 0">123123</p>

  <div class="disclosures-s">
    <p class="disclosures-n" style="text-align: center;">123 |  231231</p>
  </div>
  <div class="disclosures-show" style="margin-bottom: 60px;">
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。
    即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。即最低5000元整捐资助 1 名大学生，可整捐多名大学生，待高考录取结束后，通过网站可自主选择想要帮助的大学生。


  </div>
  <div class="camps-share">
    <p>分享到：</p>
    <ol>
      <li class="row" style="padding: 30px 225px;">
        <div id="share-2"></div>
      </li>
    </ol>
  </div>

</div>
<script>
    $('#share-2').share({
        sites: ['qzone', 'wechat', 'weibo', 'qq'],
//        url: '<%#= Settings.root_url %>articles/<%#= @article.id %>'

    });
</script>
