<div class="person-body-right pull-right" style="margin-top: 40px;padding: 0;" id="teacher-profiles">

  <div style="background: #fff;padding: 10px 34px 20px 34px;border: 1px solid #e6e6e6;" class="marginbottom">
    <p class="don-title border-b ">
      <span class="pull-left">个人资料</span>
    </p>
    <div class="school-edit">
      <div class="addchild-list-img">
        <%= image_tag 'gsh-img-right.png' %>
        <div></div>
        <span>上传正面照</span>
      </div>
      <p class="don-title">基本信息</p>
      <div class="addchild-list-cont">
        <div>
          <span class="goodtext">昵称</span>
          <input  class="goodinput " type="text"  />
        </div>
        <div>
        <span class="goodtext">真实姓名</span>
        <input  class="goodinput " type="text"  placeholder="请填写真实姓名"/>
      </div>
        <div>
          <span class="goodtext">如何称呼</span>
          <input  class="goodinput " type="text"  placeholder="孩子如何称呼您" />
        </div>
        <div class="sexinput">
          <span class="goodtext ">选择性别</span>
          <div class="clearfix">
            <div class="female pull-left">
              <input type="radio" id="male" value="male" name="gender" checked />
              <label for="male">男</label>
            </div>
            <div class="male pull-left">
              <input type="radio" id="female" value="female" name="gender" />
              <label for="female">女</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div style="background: #fff;padding: 10px 34px 20px 34px;border: 1px solid #e6e6e6;">
    <div class="school-edit">
      <p class="don-title">收货地址</p>
      <div class="addchild-list-cont">
        <div>
          <span class="goodtext">收货人</span>
          <input  class="goodinput " type="text" placeholder="请填写收货人姓名" />
        </div>
        <div>
          <span class="goodtext">联系电话</span>
          <input  class="goodinput " type="text"  placeholder=""/>
        </div>
        <div>
          <span class="goodtext">所在地区</span>
          <div class="city-picker-selector" id="city-picker-selector"></div>
        </div>

        <div>
          <span class="goodtext">详细地址</span>
          <input  class="goodinput " type="text"  placeholder="请输入详细地址" />
        </div>
      </div>
      <div class="childern-submint">
        <button>保存</button>
      </div>
    </div>
  </div>


</div>
<script>
    // 模拟城市-无联动/无搜索
    var selector1 = $('#city-picker-selector').cityPicker({
        dataJson: cityData,
        renderMode: true,
        search: false,
        autoSelected: false,
        code: 'cityCode',
        level: 3
    });
</script>


