<div class="person-body-right pull-right">

  <div>
    <div class="don-title clearfix border-b">
      <span class="pull-left">结对助学申请表</span>
      <!--<div class="don-title-icon pull-right">-->
            <!--<span class="pull-right iconfont icon-arrow-right"></span>-->
      <!--</div>-->
    </div>

  </div>

</div>
<script>


    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) +31 +  "px")
    })
    if($('.donation .donation-cont').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }




</script>
