<div class="gsh-plus-show">
<p class="gsh-plus-tit">通过格桑花+  您可以参与到我们的公益事业</p>
  <div class="gsh-plus-cont">
    <div>
      <%= image_tag 'gsh-icon-school.png' %>
      <p class="gsh-plus-c-t">学校申请</p>
      <p class="gsh-plus-c-n">可参与公益活动</p>
      <div class="gsh-plus-c-but">审核中</div>
    </div>
    <div>
      <%= image_tag 'gsh-icon-vol.png' %>
      <p class="gsh-plus-c-t">志愿者申请</p>
      <p class="gsh-plus-c-n">通过后可申请项目</p>
      <div class="gsh-plus-c-but">审核通过</div>
    </div>
    <div>
      <%= image_tag 'gsh-icon-child.png' %>
      <p class="gsh-plus-c-t">格桑花孩子</p>
      <p class="gsh-plus-c-n">我曾经是格桑花孩子</p>
      <div class="gsh-plus-c-but">已加入</div>
    </div>
  </div>
<p class="gsh-plus-foot">返回个人中心</p>
</div>