/*
 *= require_tree ./plugins
 *= require_tree ./common
 *= require admin/login.css.scss
 *= require_self
*/

.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top{
  z-index: 1000 !important;
}
.control-label .required, .form-group .required{
  color: inherit;
  padding-left: 0;
}
.control-label, .form-group{
  .form-control{
    padding-left: 6px;
    max-width: 400px;
  }
}
//多余的省略号
.read-more {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.logo-text {
  padding-top: 15px;
  font-family: serif;
  font-size: 30px;
  color: #414141;
  font-weight: bold;
  &:hover, &:focus {
    text-decoration: none;
    color: #333333;
  }
}

.page-header-inner{
  .module-nav{
    width: 600px;
    .nav-tabs.nav-justified{
      padding-top: 6px;
      li{
        a{
          max-width: 150px;
          color: #555;
          font-size: 16px;
          line-height: 30px;
          border-bottom: 0px;
        }
      }
      li.active{

        a {
          background-color: #e9ecf3;
          color: #337ab7;
        }
      }
    }
  }
}
.login {
  .logo-text {
    font-size: 60px;
    color: #fff;
    text-shadow: 1px 1px 3px #333;
  }
}

.company {
  .logo-text {
    color: #bbb;
  }
}

.page-sidebar-closed {
  .logo-text {
    display: none !important;
  }
}

.select2-container--default {
  .select2-selection--single {
    height: 34px;
    border: 1px solid #c2cad8;
    .select2-selection__rendered {
      line-height: 32px;
    }
    .select2-selection__arrow {
      height: 32px;
    }
  }
  .select2-search--dropdown {
    .select2-search__field {
      border-color: #c2cad8;
      height: 32px;
    }
  }
}

.select2-dropdown {
  border-color: #c2cad8;
}

.inline-group {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  & > .form-group {
    vertical-align: top !important;
  }
  .form-inline {
    float: none !important;
    width: auto;
  }
}

.block-group {
  margin-bottom: 10px;
  & > .form-group {
    vertical-align: top !important;
  }
  .form-inline {
    float: none !important;
    width: auto;
  }
}

.form-horizontal {
  .radio {
    & + .radio {
      margin-left: 15px;
    }
    .radio {
      padding-top: 1px;
      margin-right: 5px;
    }
  }
}

.dropdown-select{
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.statistic-pull-left {
  float: left;
}

.statistic-form-input {
  width: 30%;
}

.student-form-input {
  width: 20%
}

.select2-results__options > li[aria-selected="true"] {
  display: none;
}
.parsley-errors-list {
  margin-bottom: 0;
  padding:5px;
  &  > li{
    list-style: none;
    color: red;
    font-size: 12px;
  }
}