/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require "plugins/uploader"
 *= require "plugins/bootstrap-stars"
 *= require_self
 */

//bootstrap  reset
// 通用样式
//主标题
$color-theme: #2a2a2c;
//副标题及段落文字
$color-subtitle: #3d3d40;
//提示
$color-section: #8d8d8d;
//主色
$color-info: #d632aa;
//主色
$color-border: #8b54e3;
//渐变
$color-button: -webkit-linear-gradient(left top, #d22ca4, #8b54e3);
//边框
$border: #e6e6e6;
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  p {
    margin-bottom: 0;
  }
  dl, ol, ul {
    list-style: none;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    out-line: none;
    color: #2a2a2c;
  }

}



span {
  display: inline-block;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: none !important;
}


//边框
.border-t {
  border-top: 1px solid $border;
}

.border-l {
  border-left: 1px solid $border;
}

.border-r {
  border-right: 1px solid $border;
}

.border-b {
  border-bottom: 1px solid $border;
}

.classbody {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  border-top: 1px solid #f5f5f5;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
//多余的省略号
.read-more{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
  //小手
.cur {
  cursor: pointer;
}

//轮播按钮
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-color: #000;
  opacity: .3;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-color: #000;
  opacity: .3;
}

//清浮动
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

//首页
//首页头部隐藏条
.bullet {
  text-align: center;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: $color-info;
  color: #fff;

}

//弹框
.layui-layer {
  min-width: 200px !important;
  .layui-layer-title {
    border-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 30px 0;
    height: auto;
    line-height: normal;
  }
  .layui-layer-content {

    //padding: 10px 30px 20px !important;
  }
  .layui-layer-padding {
    //padding: 20px 20px 20px 55px !important;
  }
}

//nav
.bul-nav {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  height: 80px;
  line-height: 80px;
  padding-left: 30px;
  text-align: center;
  .bul-nav-cont {
    width: 960px;
    height: 80px;
    margin: 0 auto;
    display: inline-block;
    .bul-nav-wy {
      margin-top: 20px;
      width: 140px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      color: $color-border;
      font-size: 14px;
      border: 1px solid $color-border;
      border-radius: 20px;
      .iconfont {
        color: $color-border;

      }
    }
    .bul-nav-wy:hover {
      color: #fff;
      //background: $color-button;
      border: none;
      .iconfont {
        color: #fff;

      }
    }

    .bul-nav-ul > li {
      float: left;
      width: 120px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      list-style: none;
      cursor: pointer;
      .iconfont {
        margin-right: 0;
        font-size: 14px;
        color: $color-subtitle;
        margin-left: 5px;

      }
    }
    .bul-nav-heide {
      position: absolute;
      left: 100px;
      top: 80px;
      z-index: 22;
      list-style: none;
      background: #fff;
      border-radius: 4px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: none;
      box-shadow: 0px 0px 2px 3px #adadad33;
      .gsh-arrows-1 {
        position: absolute;
        left: 70px;
        top: -7px;
        width: 14px;
        height: 9px;
        line-height: 0;
        z-index: 2;
      }
      .gsh-arrows-1:hover {
        background: #fff;
      }
      & > li {
        width: 156px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #515154;
      }

      & > li:hover {
        background: $color-border;
        color: #fff;
      }
    }
  }
  .bul-nav-dl {
    width: 90px;
    font-size: 16px;
    color: #2a2a2c;
    border-left: 1px solid #d2d2d2;
  }
  .bul-nav-sh {
    width: 80px;
    font-size: 16px;
    color: #2a2a2c;
    border-left: 1px solid #d2d2d2;
    .iconfont {
      margin-right: 0;
    }
  }

}

.bul-swiper {
  margin-top: 30px;
  .swiper-container {
    width: 100%;
    height: 420px;

    .swiper-slide {
      width: 1140px !important;
      text-align: center;
      font-size: 18px;
      margin-right: 10px;
      margin-left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #ffffff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {

    opacity: 1;
    background: $color-border;

  }
  .swiper-button-next, .swiper-button-prev {
    background-image: none;
    opacity: .5;
    width: 38px;
    height: 60px;
  }
  .swiper-button-prev {
    left: 70px
  }
  .swiper-button-next {
    right: 70px
  }
  .bul-icon-next {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    color: #9e9e9e;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    transform: rotate(180deg);
    line-height: 60px;
  }
  .bul-icon-prev {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    color: #9e9e9e;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
  }
}

.bul-ai {
  width: 100%;
  padding-bottom: 90px;
  .bul-ai-cont {
    height: 320px;
    background-color: #fafafa;
    position: relative;
  }
  .bul-img-r {
    position: absolute;
    right: 0;
    top: 0;
    img {
      width: 780px;
      height: 320px;
    }
  }
  .bul-img-n {
    width: 1140px;
    margin: 0 auto;
    .bul-img-m {
      width: 470px;
      height: 100%;
      .bul-img-p {
        border-bottom: 1px solid #dcdcdc;
        padding: 36px 0 20px 0;
        & > p:nth-child(1) {
          color: #262626;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 0;
          & > span {
            padding: 0 12px;
            color: $color-info;
            font-size: 22px;
          }
        }
        & > p:nth-child(2) {
          color: #262626;
          font-size: 12px;
          margin-bottom: 0;
          line-height: 34px;
          .iconfont {
            transform: rotate(-90deg);
            margin-right: 4px;
          }
        }
      }
      .bul-img-co {
        & > p {
          padding: 20px 0 10px 0;
          color: #262626;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 0;

        }
      }
    }
  }
}

////文字滚动
#news-container {
  width: 470px;
  height: 156px !important;
}

#news-container ul {
  width: 470px;
}

#news-container ul li {
  display: block;
}

.bul-xian {
  position: absolute;
  left: 1%;
  top: 10%;
  width: 2px;
  height: 125px;
  background-color: #e5e5e5;
}

#news-container ul li div {
  height: 40px;
  line-height: 40px;
  position: relative;
  .bul-yuan {
    font-size: 10px;
    color: $color-border;
    position: absolute;
    left: 0;
    top: 0;
  }
  .bul-time {
    font-size: 13px;
    color: #262626;
    margin-left: 20px;
  }
  .bul-name {
    font-size: 15px;
    color: #262626;
    margin-left: 40px;
  }
  .bul-moy {
    font-size: 15px;
    color: #262626;
    font-weight: 700;
  }
}

.bul-content {
  width: 1140px;
  border-bottom: 1px solid $border;
  margin: 0 auto;
}

.collaboration {
  width: 100%;
  padding: 40px 0 63px 0;
  & > p {
    text-align: center;
    font-size: 26px;
    color: #262626;
    font-weight: 700;
  }
  & > div {
    width: 1140px;
    padding: 40px 0 0 0;
    display: flex;
    text-align: center;
    margin: 0 auto;
    & > div {
      flex: 1;
    }
  }
}

.bul-tit {
  text-align: center;
  padding: 60px 0 30px 0;
  & > p:nth-child(1) {
    font-weight: 700;
    font-size: 26px;
    color: $color-theme;
    margin-bottom: 14px;
  }
  & > p:nth-child(2) {
    font-size: 18px;
    color: $color-theme;
  }
}

.bul-mouse {
  text-align: center;
  width: 100%;
  display: flex;
  & > div {
    flex: 1;
    padding: 17px 0 26px 0;
  }
  & > div:nth-child(2) {
    border-left: 1px solid $border;
    border-right: 1px solid $border;
  }
  .mouse-1 {
    font-size: 18px;
    color: $color-subtitle;
  }
  .mouse-2 {
    font-size: 20px;
    color: $color-theme;
    font-weight: 700;
  }
}

.bul-mouse-show {
  text-align: left;
  width: 100%;
  display: flex;
  & > div {
    flex: 1;
    position: relative;
    .mouse-show {
      margin: 0 auto;
      padding: 12px 20px;
      width: 250px;
      background-color: $color-info;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      box-shadow: 0px 2px 7px 2px #d632aa4d;
    }
    & > img {
      position: absolute;
      left: 48%;
      top: -4px;
    }
  }
  #show11 {
    visibility: hidden;
  }
  #show12 {
    visibility: hidden;
  }
  #show13 {
    visibility: hidden;
  }
}

.bul-fo {
  width: 100%;
  padding: 45px 0;
  background-color: $color-border;
  text-align: center;
  & > div {
    width: 542px;
    margin: 0 auto;
    & > p {
      color: #fff;
      font-size: 16px;
    }
    .bul-but {
      padding: 34px;
      & > div {
        width: 205px;
        height: 44px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 4px;
        color: #fff;
        border: 1px solid #fff;
      }
      & > div:hover {
        background-color: #fff;
        color: $color-border;
        border: 1px solid #fff;

      }
    }
  }
}

.bul-buton {
  width: 196px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color: $color-subtitle;
  margin: 50px auto;
  border-radius: 20px;
  border: 1px solid $color-subtitle;

}

.gsh-img {
  width: 360px;
  height: 207px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;

}

.gsh-cont-1 {
  text-align: left;
  font-size: 13px;
  color: $color-section;
  margin-top: 28px;
  margin-bottom: 10px;
}

.gsh-cont-2 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: $color-subtitle;
  margin-bottom: 0;
}

.gsh-img .ovrly {
  position: absolute;
  background: $color-border;
  opacity: .7;
  height: 100%;
  left: -100%;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.gsh-img .buttons {
  position: absolute;
  top: 50%;
  left: 200%;
  padding-left: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gsh-img:hover .buttons {
  left: 50%;
}

.gsh-img:hover .ovrly {
  left: 0;
}

.gsh-img:hover {

  -webkit-box-shadow: 0px 12px 30px 2px #44444469;
  -moz-box-shadow: 0px 12px 30px 2px #44444469;
  box-shadow: 0px 12px 30px 2px #44444469;

}

.items-container {
  width: 1140px;
  margin: 0 auto;

}

.item {
  padding-top: 15px;
  padding-bottom: 30px;
}

//底部
.bul-footer {
  width: 100%;
  background-color: #3b3b3b;
  & > div {
    width: 1140px;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #515151;
    .footwidth {
      width: 210px;
    }
  }
  & > p {
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    color: #737373;
    margin-bottom: 0;
  }
  .footer-left-1 {
    margin-left: 88px;
    margin-right: 70px;
  }
  .footer-1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 15px;
    color: #d7d7d7;
  }
  .footer-2 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #d7d7d7;

  }
  .footer-3 {
    font-size: 14px;
    color: #d7d7d7;

  }
  .right-foot-1 {
    width: 132px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    background: #3b3b3b;

  }
  .right-foot-3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
    color: #d7d7d7;
  }
  .right-foot-2 {
    width: 132px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #3b3b3b;
  }

}

.bul-pos1 {
  position: absolute;
  left: -100px;
  top: -30px;
  width: 100px;
  height: 100px;
  display: none;
}

.bul-pos2 {
  position: absolute;
  left: -100px;
  top: 10px;
  width: 100px;
  height: 100px;
  display: none;
}

.bul-pos4 {
  position: fixed;
  right: 56px;
  bottom: 70px;
  width: 218px;
  height: 100px;
  z-index: 9999;
  display: none;
  background-color: #fff;
  box-shadow: -3px 2px 10px 2px #8b8b8b2e;

  .bul-pos4-cont {
    font-size: 14px;
    color: #2a2a2c;
    height: 100px;
    padding-top: 30px;
    padding-right: 14px;
    & > p:nth-child(1) {
      font-weight: 700;
    }
    & > p:nth-child(2) {
      font-size: 13px;
    }
  }
}

.iconfont {
  margin-right: 14px;
}

.bul-top-2 {
  position: fixed;
  bottom: 130px;
  right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid $border;
  background-color: #fff;
  color: #868686;
  z-index: 999999;
  text-align: center;
  .iconfont {
    margin-right: 0;
    font-size: 28px;
  }
}

.bul-top-2:hover {
  border: 1px solid $color-border;
  background-color: $color-border;
  .iconfont {
    color: #fff;
  }
}

//动态滑动
.button {
  display: block;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.button:focus {
  outline: none;
}

.button--rayen {
  overflow: hidden;
  padding: 0;
  width: 140px;
  height: 36px;
}

.button--rayen.button--inverted {
  color: #fff;
}

.button--rayen::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-button;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.button--rayen::before,
.button--rayen > span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--rayen:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.button--rayen:hover > span {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

//======
.button--but {
  overflow: hidden;
  padding: 0;
  width: 196px;
  height: 40px;
}

.button--but.button--inverted {
  color: #fff;
}

.bul-buton:hover {
  border: none;
}

.button--but::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-border;
  color: #fff;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.button--but::before,
.button--but > span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--but:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.button--but:hover > span {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

//  svg
.circle-chart {
  width: 68px;
  height: 68px;
}

.circle-chart__circle {
  stroke: #00acc1;
  stroke-width: 2;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1);
}

.circle-chart__background {
  stroke: #efefef;
  stroke-width: 2;
  fill: none;
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 8px;
}

.circle-chart__subline {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 3px;
}

.success-stroke {
  stroke: $color-border;
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#conttab{
  .contentab{
    display: none;
  }
}
//项目详情,介绍
#detail {
  width: 100%;
  position: relative;
  .referral-head{
    width: 100%;
    padding: 30px 0;
  }
  .referral-img{
    width: 1140px;
    margin: 0 auto;
    position: relative;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  .referral-cont{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin: 63px auto 0 auto;
    color: #fff;
    text-align: center;
  }
  .referral-cont-p{
    font-weight: 600;
    font-size: 26px;
  }
  .referral-cont-m{
    font-size: 14px;
    & > span{
      font-size: 18px;
      font-weight: 600;
    }
  }
  .referral-cont-but{
    margin: 56px auto 0 auto;
    font-size: 16px;
    width: 240px;
    height:40px;
    line-height: 36px;
    border-radius: 20px;
    border: 2px solid #fff;

  }
  .referral-school{
    width: 200px;
    height: 38px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    background-color: $color-border;
    text-align: center;
    border-radius: 4px;
    margin: 14px 20px 14px 0;
  }
  .detail-head {
    width: 100%;
    background-color: #f9f9f9;
    padding: 30px 0;
  }
  .detail-img {
    width: 1140px;
    margin: 0 auto;
    & > img {
      float: left;
      width: 760px;
      height: 480px;
      border-radius: 7px;
    }
  }
  .detail-cont {
    width: 342px;
    height: 100%;
    padding-top: 20px;
    .detail-con-t {
      font-size: 26px;
      color: #3d3d40;
      font-weight: 500;
    }
    .detail-con-font {
      width: 304px;
      font-size: 16px;
      color: $color-subtitle;
      margin-top: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .detail-con-number {
      padding: 42px 0 29px 0;
    }
    .detail-num {
      width: 247px;
      margin-left: 22px;
      & > p:nth-child(1) {
        font-size: 28px;
        color: #2a2a2c;
        font-weight: 500;
      }
      & > p:nth-child(2) {
        font-size: 14px;
        color: #3d3d40;
      }
    }
    .detail-cont-foot {
      padding-top: 20px;
      & > p {
        font-size: 14px;
        color: #3d3d40;
        font-weight: 500;
        & > span {
          color: #3d3d40;
          font-weight: 400;
          margin-left: 17px;
        }
      }
      & > div {
        margin-top: 34px;
        font-size: 16px;
        text-align: center;
        color: $color-border;
        border: 2px solid $color-border;
        border-radius: 6px;
        width: 100%;
        height: 40px;
        line-height: 36px;
      }
    }
  }
  .detail-nav {
    box-shadow: 0 3px 9px 2px #b7b7b72b;
    .detail-fiexd {
      width: 100%;
      height: 64px;
      line-height: 62px;
      background-color: #ffffff;

    }
    .fhNav {
      position: relative;
      box-sizing: border-box;
      width: 1140px;
      margin: 0 auto;
      height: 64px;
    }

    .nav li {
      position: relative;
      list-style: none;
      float: left;
      width: 170px;
      text-align: left;
      height: 64px;
      cursor: pointer;
      color: #2c2c2c;
      font-size: 16px;
    }
    .selectedNav {
      font-weight: 700;
    }
    .bottomLine {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 64px;
      background-color: #8859d5;
      transition: all 0.3s ease;
    }
    .navmark {
      position: absolute;
      left: 66px;
      top: -12px;
      color: #282832;
      font-size: 14px;
    }
    .share {
      width: 90px;
      height: 38px;
      line-height: 36px;
      color: #8d8d8d;
      font-size: 14px;
      border: 1px solid #8d8d8d;
      text-align: center;
      border-radius: 4px;
      margin: 14px 0;
    }

  }
  .navFix {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 9px 2px #b7b7b72b;
    background-color: #fff;
    z-index: 22;
  }
  .detail-body{
    width: 1140px;
    margin: 0 auto;
    padding: 40px 0 80px 0;
  }
  .detail-body-right{
    width: 310px;
    height: 644px;
    background-color: #f8f8f8;
    padding: 0 16px;
  }
  .detail-b-r-t{
    font-size: 16px;
    color: #262626;
    font-weight: 700;
    height: 55px;
    line-height: 52px;
    & > span{
      border-bottom: 2px solid #8859d5;
    }
  }
  .detail-b-r-name{
    list-style: none;
    width: 100%;
    & > li{
      width: 100%;
      padding: 21px 0;
      & > img{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
      }
      & > div{
        width: 77%;
        line-height: 24px;
      }
    }
  }
}
//执行反馈
.detail-body-left{
  width: 810px;
  height: 100%;
  padding: 0 35px;
}
.detail-name{
  font-weight: 600;
  font-size: 14px;
  color: #2a2a2c;
}
.detail-time{
  font-size: 12px;
  color: #d7d7d7;
}
.detail-con{
  font-size: 14px;
  color: #2a2a2c;
}
.more{
  text-align: center;
  font-size: 14px;
  color: #8b54e3;
  line-height: 42px;
  padding: 0!important;
}
.detail-body-ul{
  & > li:nth-child(1){
    margin-top: 0;
  }
  & > li{
    margin-top: 30px;
  }
}
.detail-body-cont{
  padding: 22px;
  border: 1px solid $border;
  border-radius: 4px;
  position: relative;
}
.detail-body-cont:hover{
  box-shadow: 0 4px 12px 3px #b8b0c629;
  .detail-body-hover{
    color:#8b54e3;
  }
}
.detail-body-hover{
  position: absolute;
  left: -43px;
  top: 25px;
  font-size: 14px;
  color: #a6a6a6;
}
.de-left-con{
  font-size: 14px;
  color: #3d3d40;

}
.detail-font-tit{
  margin-bottom: 10px;
  & > p{
    font-size: 18px;
    color: #2a2a2c;
    font-weight: 500;
  }
  & > span{
    font-size: 12px;
    color: #8b54e3;
    line-height: 28px;
    .iconfont{
      transform:rotate(-90deg);
      margin-right: 5px;
      font-size: 12px;
    }
  }
}

.detail-body-title{
  margin-bottom: 15px;

  & > img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    float: left;
  }
  & > span:nth-child(3){
    margin-left: 3px;
  }
  & > span{
    font-size: 14px;
    color: #d7d7d7;
    line-height: 28px;
    margin-left: 12px;
  }
}
.details-img{
  display: none;
  margin-top: 30px;
  & > img{
    width: 211px;
    height: 143px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  & > img:nth-child(3n){
    margin-right: 0;
  }
}
//物品清单
.detail-table-left{
  width: 810px;
  height: 100%;
  padding: 0 50px 0 0;
}
.table-bordered{
  & > thead th{
    background-color: #f9f9f9;
    border-bottom: 1px solid $border!important;
    font-size: 16px;
    color: #2a2a2c;
  }
  & > tbody th , td{
    font-weight: 400;
    font-size: 14px;
    color: #2a2a2c;
  }
}
//申请详情
.details-left{
  width: 810px;
  height: 100%;
  padding: 0 35px 0 0;
  & > img{
    width: 100%;
    margin-top: 30px;
  }
}
.detail-l-title{
  font-size: 24px;
  color: #282832;
  font-weight: 600;
  margin-bottom: 10px;
}
.detail-l-fon{
  font-size: 14px;
  color: #282832;
  line-height: 30px;
}
//项目列表
#project{
  .project-img{
    width: 100%;
    height: 200px;
    background: url(image-path("project-mainpage.png"))no-repeat;
    background-size: 100%;
    overflow: hidden;
    position: relative;

  }
  .project-img:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin: 0 auto;
    background: inherit;
    filter: blur(20px);
  }
  .project-head{
    position: relative;
    & > img{
      width: 350px;
      height: 203px;
      position: absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      margin: 50px auto;
      border-radius: 4px;
      box-shadow: 0 10px 18px -1px #76767b57;

    }
    .project-cont{
      text-align: center;
      margin: 80px auto 50px auto;
    }
    .project-cont-tit{
      font-size: 26px;
      color: #3d3d40;
      font-weight: 600;
    }
    .project-cont-con{
      font-size: 14px;
      color: #3d3d40;
      width: 476px;
      margin: 10px auto;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .project-cont-but{
      width: 240px;
      height: 40px;
      line-height: 36px;
      border-radius: 20px;
      border: 2px solid $color-border;
      text-align: center;
      color: $color-border;
      margin: 25px auto ;
      font-size: 16px;
      .iconfont{
        font-size: 15px;
        margin-right: 0;
      }
    }
    .project-cont-but:hover{
      background:$color-button;
      color: #fff;
      border: none;
      line-height: 40px;
    }
  }
  .project-body{
    width: 1140px;
    margin: 0 auto;
    .pull-down{
      position: relative;
    }
    .project-ul > li {
      float: left;
      width: 160px;
      height: 40px;
      line-height: 36px;
      text-align: center;
      list-style: none;
      cursor: pointer;
      border: 1px solid $border;
      border-radius: 4px;
      padding: 0 10px;
      font-size: 14px;
      .iconfont {
        margin-right: 0;
        color: $color-subtitle;
        margin-left: 5px;

      }
    }
    .input-group{
      width: 230px;
      height: 36px;
      line-height: 36px;
      border-radius: 4px;
      border: 1px solid $border;
      margin-left: 10px;
      padding: 0 10px;
      & > span{
        margin-right: 0;
      }
      input{
        border: none;
        font-size: 14px;
        color: #8d8d8d;
      }
      input:focus{
        box-shadow:none;
      }
    }
    .project-nav-heide {
      position: absolute;
      right: 0;
      top: 40px;
      z-index: 22;
      list-style: none;
      background: #fff;
      border-radius: 4px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
      display: none;
      border:1px solid $border;
      .gsh-arrows-1 {
        position: absolute;
        left: 70px;
        top: -7px;
        width: 14px;
        height: 9px;
        line-height: 0;
        z-index: 2;
      }
      .gsh-arrows-1:hover {
        background: #fff;
      }
      & > li {
        padding: 0 10px;
        width: 158px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #515154;
        text-align: left;
      }

      & > li:hover {
        background: $color-border;
        color: #fff;
      }
    }
  }
  .project-body-t{
    width: 100%;
    height: 56px;
    line-height: 56px;
    & > p {
      font-size: 18px;
      color: #3d3d40;
      font-weight: 600;
    }
  }
  .project-body-cont{
    padding: 30px 0 0 0;
    margin-right: 0;
    margin-left: 0;
    .col-md-3{
      margin-bottom: 30px;
    }
    & > div{
      border-radius: 4px;
      flex: 23%;
      margin-right: 7px;
      margin-left: 6px;
      padding-right: 0;
      padding-left: 0;
    }
    .project-body-img{
      width: 272px;
      height: 179px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      overflow: hidden;
      & > img{
        width: 100%;
        height: 100%;
      }
    }
    .project-body-cot{
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 15px 12px 0 12px;
      .progress{
        height: 6px;
        background-color: #ececec;
        border-radius: 4px;
      }
      .progress-bar{
        background:$color-button ;
      }
    }
    .project-body-cont{
      width: 100%;
      display: flex;
      text-align: left;
      padding: 15px 0;
      & > div{
        flex: 1;
        font-size: 12px;
        color: #4a4a4b;
        span{
          font-size: 16px;
          color: #2a2a2c;
          font-weight: 600;
        }
      }
      & > div:nth-child(2){
        padding-left: 15px;
        border-radius: 0;
      }
    }

  }
  .project-foot{
    margin: 0 auto 80px auto;
    text-align: center;
    & > span{
      width: 30px;
      height: 30px;
      border: 1px solid $border;
      border-radius: 4px;
      text-align: center;
      line-height: 28px;
      color: #9f9f9f;
      font-size: 14px;
    }
    & > span:hover{
      line-height: 30px;
      border: none;
      background-color: $color-border;
      color: #fff;
    }
  }
}
