<div class="person-body-right pull-right" >
  <div>
    <p class="don-title border-b">我的勋章</p>
    <div class="medal">
      <div class="items-container row">
        <% @my_badges.each do |badge| %>
        <div class="item col-md-4 cur ">
          <div class="gsh-img">
           <%= image_tag badge.icon_url(nil), width: 149, height: 176%>
            <div class="medal-cont">
              <p><%= badge.title %> <%= badge.rank  unless badge.default_level? %></p>
              <p><%= badge.description %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
