<div class="portlet light portlet-form bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-note"></i>
      <span class="caption-subject">用户修改</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="portlet-input input-inline input-small">
        <div class="input-icon right">
          <% if can? :manage_operation, current_user  %>
          <%= link_to combine_admin_user_path(@user), class: 'btn red', 'data-no-turbolink' => true do %>
              <i class="fa fa-code-fork"></i>
              <span>合并用户</span>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body form">
    <%= render 'form' %>
  </div>
</div>
