<div class="person-body-right pull-right">
        <div class="">
          <p class="don-title border-b">捐助管理</p>
          <div class="don-cont">
            <div class="don-content">
              <div>
                <span>张先生</span>
                <span>自己</span>
              </div>
              <div class="don-con-co">
                <span>联系电话：</span><p>186****0989</p>
              </div>
              <div class="don-con-co">
                <span>收货地区：</span><p>山东青岛市李沧区</p>
              </div>
              <div class="don-con-co">
                <span>详细地址：</span><p>京口路28号苏宁大厦C座1804</p>
              </div>
              <div class="don-con-co">
                <span>邮箱地址：</span><p></p>
              </div>
            </div>
            <div class="don-content">
              <div>
                <span>张先生</span>
              </div>
              <div class="don-con-co">
                <span>联系电话：</span><p>186****0989</p>
              </div>
              <div class="don-con-co">
                <span>收货地区：</span><p>山东青岛市李沧区</p>
              </div>
              <div class="don-con-co">
                <span>详细地址：</span><p>京口路28号苏宁大厦C座1804</p>
              </div>
              <div class="don-con-co">
                <span>邮箱地址：</span><p></p>
              </div>
              <div class="clearfix don-con-pos">
                <div class="pull-right cur" id="delete">
                  <span class="iconfont icon-ico-delete1"></span>
                  <span>删除</span>
                </div>
                <div class="pull-right cur">
                  <span class="iconfont icon-ico-edit "></span>
                  <span>编辑</span>
                </div>

              </div>
            </div>
          </div>

          <div class="don-co">
            <div class="don-co-but cur" id="ClickMe">
              <span class="iconfont icon-ico-add1"></span>
              <span>新增捐助人</span>
            </div>
          </div>
        </div>

      </div>


  <div id="goodcover"></div>
  <div id="remove">
    <div class="remove-title clearfix">
      <span id="remove-but" class="iconfont icon-icondelete cur pull-right "></span>
    </div>
    <div class="remove-body">
      <p>确定删除此捐助人信息？</p>
      <div class="clearfix">
        <div class="pull-left">确认</div>
        <div class="pull-right">取消</div>
      </div>
    </div>
  </div>
  <div id="code">
    <div class="close1 clearfix">
      <span class="pull-left">新增捐赠人信息</span>
      <span id="closebt" class="iconfont icon-icondelete cur pull-right "></span>
    </div>
    <div class="goodcont">
      <div class="clearfix">
        <div class="pull-left">
          <p class="goodtext">昵称</p>
          <input  class="goodinput" type="text"  />
        </div>
        <div class="pull-right">
          <p class="goodtext">真实姓名</p>
          <input  class="goodinput" type="text"  />
        </div>
      </div>
      <div class="clearfix sexinput">
        <p class="goodtext pull-left">所在地区</p>
        <div class="female pull-left">
          <input type="radio" id="female" name="sex" checked />
          <label for="female">男</label>
        </div>
        <div class="male pull-left">
          <input type="radio" id="male" name="sex" />
          <label for="male">女</label>
        </div>
      </div>

      <div class="clearfix">
        <div class="pull-left">
          <p class="goodtext">如何称呼</p>
          <input  class="goodinput" type="text"  />
        </div>
        <div class="pull-right">
          <p class="goodtext">联系电话</p>
          <input  class="goodinput" type="text"  placeholder="请输入联系电话"/>
        </div>
      </div>
      <p class="goodtext">所在地区</p>
      <div class="city-picker-selector" id="city-picker-selector"></div>
      <p class="goodtext">详细地址</p>
      <input class="address-input" type="text"  placeholder="请输入详细地址"/>
      <div class="goodbut">保存</div>
    </div>
  </div>
<script>


    //     右tab切换二级
    $(".donations1 li").on("click", function () {
        $(".donations1 li").removeClass("selectedDo")
        $(this).addClass("selectedDo")
        $(".bottomline").css("left", parseFloat($(this)[0].offsetLeft) +31 +  "px")
    })
    if($('.donation .donation-cont').length===0){
        $('.donation-cont-no').css('display', 'block')
        $('.project-foot').css('display', 'none')
    }else{
        $('.donation-cont-no').css('display', 'none')
        $('.project-foot').css('display', 'block')
    }
    // 模拟城市-无联动/无搜索
    var selector1 = $('#city-picker-selector').cityPicker({
        dataJson: cityData,
        renderMode: true,
        search: false,
        autoSelected: false,
        code: 'cityCode',
        level: 3
    });

    $('#ClickMe').click(function() {
        $('#code').center();
        $('#goodcover').show();
        $('#code').fadeIn();
    });
    $('#closebt').click(function() {
        $('#code').hide();
        $('#goodcover').hide();
    });
    $('.goodbut').click(function() {
        $('#code').hide();
        $('#goodcover').hide();
    });
    $('#delete').click(function() {
        $('#remove').center();
        $('#goodcover').show();
        $('#remove').fadeIn();
    });
    $('#remove-but').click(function() {
        $('#remove').hide();
        $('#goodcover').hide();
    });


</script>
