<% submit = apply.project.form_submit(apply.form) %>
<% form = apply.project.form %>
  <% form.each do |item| %>
    <div class="form-group">
      <label class="col-md-2 control-label"><%= item['label'] %>：</label>
      <div class="col-sm-9">
      </div>
    </div>
  <% end %>
