<div class="person-body-right pull-right" id="site-from"><!-- id="addchildrenlist"-->
  <div class="paddchild marginbottom">
    <div class="don-title clearfix">
      <span class="pull-left">修改<%= @current_project.name %>申请</span>
      <div class="don-title-icon pull-right">
        <%= link_to platform_school_apply_goods_projects_path(pid: @current_project) do %>
            <span class="pull-right iconfont icon-arrow-right"></span>
            <span class="pull-right">返回</span>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'form' %>

</div>
