<div class="person-body-right pull-right" id="site-from">
  <div class="paddchild marginbottom">
    <p class="don-title">
      <span class="pull-left">新增<%= @current_project.name %>申请</span>
      <span class="pull-right iconfont icon-arrow-right"></span>
      <span class="pull-right"><%= link_to '返回', platform_school_apply_goods_projects_path(pid: @current_project) %></span>
    </p>
  </div>
  <%= render 'form' %>

</div>
