<div class="share-vol-a">
  <div>
    <input type="text"/>
    <span class="iconfont icon-ico-search"></span>
  </div>
</div>
<div class="share-vol-b">
  <div class="vol-a row clearfix" >
    <div class="col-md-4 cur ">
    <div class="clearfix">
      <div class="vol-body-img ">
        <%= image_tag 'project-reducepage-child.png' %>
      </div>
      <div class="vol-body-conts ">
        <p class="vol-body-c-name">Sissi花 <strong>| 服务中</strong></p>
        <p class="vol-body-c-p">志愿者编号：ZYZ180023</p>
        <p class="vol-body-c-p">所在地区：苏州</p>
        <p class="vol-body-c-p">服务时长：293 小时</p>
        <p class="vol-body-c-p">加入时间：2008-09-23</p>
      </div>
    </div>
  </div>
  </div>
  <!--没有内容/没有结果-->
  <div class="not-project-body contentab ">
    <div class="donation-cont-no">
      <div class="donation-co-no-c">
        <p>暂无相关内容</p>
      </div>
    </div>
  </div>
</div>